.Menu {
  background-color: #2a3844;
  width: 23%;
}
.img {
  width: 50px;
  height: 50px;
  border-radius: 60%;
  margin: 10px 10px 0 10px;
}
.MenuDisplayFlex {
  display: flex;
}
.MenuHeaderText {
  margin-top: 10px;
}
.MenuHeaderText span {
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.MenuHeaderText p {
  font-size: 20px;
  font-weight: 400;
  color: white;
}
.finance {
  background-color: #1c2933;
  display: flex;
  justify-content: space-between;
}
.textFinance {
  margin-left: 20px;
}
.textFinance p {
  font-weight: 400;
  color: white;
  font-size: 18px;
  margin-top: 10px;
}
.AddCasch img {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  margin-top: 15px;
}
.NameCompany p {
  font-size: 19px;
  font-weight: bold;
  color: white;
}
.NameCompany {
  padding-top: 20px;
  margin-left: 20px;
}
ul {
  padding: 0;
  margin: 0;
  margin-left: 36px;
  color: #dbdddf;
  list-style-type: none;
  font-size: 18px;
}
li {
  padding: 11px 0;
  cursor: pointer;
  max-width: 210px;
}
li:hover {
  color: #a4a3a3;
}
li a {
  text-decoration: none;
  color: #dbdddf;
  padding: 0;
  margin: 0;
}

li img {
  margin-right: 10px;
}
.Selected {
  background-color: #dcdee0;
  color: #212529;
  padding: 11px 15px;
  margin-left: -15px;
  border-radius: 3px;
  display: block;
}
.Selected:hover {
  color: #212529;
}
.Footer {
  margin-top: 200px;
  box-shadow: 0 -12px 8px -7px rgba(0, 0, 0, 0.41);
  padding-top: 20px;
}
.Button {
  color: white;
  border: 1px solid white;
  width: 220px;
  margin-left: 20px;
  padding: 9px 20px 10px;
  text-align: center;
}
.policy {
  width: 305px;
  margin: 10px auto;
}
.policy p {
  color: white;
  font-size: 17px;
}
.WhatsApp {
  display: flex;
  align-items: center;
  font-size: 17px;
}
.WhatsApp img {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}
.WhatsApp p {
  margin-left: 7px;
  margin-top: 15px;
}
