.AddWarehouseButton {
  border: 2px solid #17a2b8;
  width: 200px;
  text-align: center;
  margin-top: 30px;
  color: #17a2b8;
  padding: 5px;
  font-size: 16px;
  border-radius: 3px;
  background: none;
  cursor: pointer;
}
.modal {
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  overflow-y: scroll;
}
.header_modal {
  display: flex;
  justify-content: space-between;
}
.button_modal button {
  border: none;
  color: red;
  background-color: white;
  font-size: 19px;
  font-weight: 600;
}
.modal_content {
  width: 50%;
  min-height: 100vh;
  border-radius: 12px 0 0 12px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 40px;
  background-color: white;
}
.day_working {
  border: 1px solid lightgray;
  background-color: #fff;
  color: black;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}
.day_working_select {
  border: 1px solid lightgray;
  background-color: #17a2b8;
  color: white;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
}
.dropdown {
  user-select: none;
  margin-top: 15px;
  position: relative;
}
.dropdown .dropdown-btn {
  padding: 10px 13px;
  background: #fff;
  border: 1px solid #000;
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}
.dropdown .dropdown-content {
  position: absolute;
  top: 110%;
  left: 0;
  padding: 10px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #333;
  width: 100%;
}
.dropdown .dropdown-content .dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.dropdown .dropdown-content .dropdown-item:hover {
  background: #f4f4f4;
}
.delivery_method {
  width: 100%;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin-top: 10px;
  cursor: pointer;
}
.delivery_method_title {
  font-size: 18px;
  font-weight: 500;
}
.delivery_method_sub_title {
  font-size: 14px;
  color: #a5a5a5;
  font-weight: 400;
}
.delivery_method_button {
  margin-top: 30px;
  color: white;
  border: none;
  background-color: #ced4da;
  width: 93px;
  height: 40px;
  border-radius: 3px;
  font-size: 18px;
}
.delivery_method_select {
  color: #17a2b8;
  border: 1px solid #17a2b8;
}
.delivery_method_button_active {
  background-color: #17a2b8;
}

.color_blue {
  color: #17a2b8;
}

.button_blue_step2 {
  background-color: inherit;
  border: 2px solid #17a2b8;
  color: #17a2b8;
}
.Big_border {
  width: 100%;
  margin-top: 20px;
  border: 1px solid #ced4da;
}
.Small_border_bottom {
  border-bottom: 1px solid #ced4da;
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f37d;
}
.selectCity_1,
.selectedCity_2,
.selectedCity_4,
.selectCity_5,
.selectCity_6,
.selectCity_7 {
  display: flex;
  margin-left: 10px;
}
.selectCity_1 div input {
  margin-right: 10px;
  margin-top: 20px;
}
.selectCity_1 img,
.selectedCity_2 img,
.selectedCity_3 img,
.selectedCity_4 img,
.selectCity_7 img {
  margin: 14px 10px 0 10px;
}
.selectedCity_2 img {
  transform: rotate(90deg);
}
.selectedCity_2 div input,
.selectedCity_3 div input,
.selectedCity_4 div input,
.selectCity_7 div input {
  margin-right: 10px;
  margin-top: 20px;
}
.selectedCity_3 {
  display: flex;
  margin-left: 25px;
}
.selectedCity_4 {
  margin-left: 25px;
}
.selectCity_5 input,
.selectCity_6 input {
  margin: 6px 10px 0 40px;
}
.selectCity_5,
.selectCity_6 {
  margin-top: 10px;
}
.SelectedCity {
  width: 330px;
}
.DisplayFlexBlock {
  width: 600px;
  display: flex;
  justify-content: space-between;
}
.Federal_okr {
  display: flex;
}
.Count_Days_Delivery {
  margin-right: 20px;
}
.count_Total {
  margin: 0 6px 0 6px;
}
.count_Total span {
  color: #17a2b8;
}
.minus span {
  color: #a5a5a5;
}
.plus span {
  color: #a5a5a5;
}


/*//////////////////////////////////////////////////////////////////*/

.footer-with-pagination {
  display: flex;
  align-items: center;
  margin: 30px auto;
  justify-content: space-between;
}
.select_productsPerPage {
  padding: 11px 9px;
  border: 1.5px solid gainsboro;
  border-radius: 5px;
  margin-left: 10px;
}
.pagination {
  width: 530px;
}
.pagination li {
  padding: 0 10px 0 10px;
}
















