body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
}
a {
  color: black;
}
a:hover{
  color: #17a2b8;
}
.active a {
  color: #6C757D;
}
.pagination {
  width: 545px;
  margin: 30px auto;
}
.pagination li {
  padding: 0 10px 0 10px;
}
.pagination li .btnPrev {
  margin-right: 25px;
}
.pagination li .btnNext {
  margin-left: 25px;
}
